SECRET_KEY=your-django-secret-key
DEBUG=True
ALLOWED_HOSTS=*

# SUPABASE POSTGRESQL DATABASE
DATABASE_URL=postgresql://postgres:YOUR_DB_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:5432/postgres
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=db.YOUR_PROJECT_REF.supabase.co
DB_PORT=5432

# SUPABASE API
SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
SUPABASE_KEY=your_supabase_anon_key

# CLOUDINARY MEDIA STORAGE
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
