SECRET_KEY=your-django-secret-key
DEBUG=False
ALLOWED_HOSTS=*

# PRODUCTION VERCEL URLS
FRONTEND_URL=https://municipality-automation-frontend.vercel.app
BACKEND_URL=https://municipality-automation-backend.vercel.app

# SUPABASE POSTGRESQL DATABASE
DATABASE_URL=postgresql://postgres:8KEEXRt7qAnY90ei@db.mkdfnmhizdaqaejmitjy.supabase.co:5432/postgres
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=8KEEXRt7qAnY90ei
DB_HOST=db.mkdfnmhizdaqaejmitjy.supabase.co
DB_PORT=5432

# SUPABASE API
SUPABASE_URL=https://mkdfnmhizdaqaejmitjy.supabase.co
SUPABASE_KEY=sb_publishable_OOdsMtiuhsI9v-XC2osscw_XxEXqKSV

# CLOUDINARY MEDIA STORAGE
CLOUDINARY_URL=cloudinary://326424159338498:r2ZUHc7nj71wHqtSAzldtDK3y-A@mcizaxyv
